.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

table {
  margin: auto;
  width: 100%;
  border: 3px solid pink;
  padding: 10px;
  max-width: 1200px; 
}

.mat-form-field {
  font-size: 16px;
  width: 100%;
}

td, th {
  width: 10%;
}

.mat-icon-button.small {

  .mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}